<%# default partial to display solr document fields in catalog index view -%>
<div>
<div style="float:right; max-width:170px">
  <% thumbnail_fields = document._source.keys.select{|x| x=~/img_url/} %>
  <% thumbnail_fields.each{|key| %>
    <%= (document._source[key]||[]).map{|img| "<img width='50' src='#{img}'/>"}.join(' ') %>
  <% } %>
</div>
<dl class="defList">
  
  <% index_field_names.each do |solr_fname| -%>
    <% if document.get solr_fname %>
        <% nice_display_value = document.get(solr_fname) %>
        <%
            if solr_fname =~ /_dt$/ 
                nice_display_value.gsub!('T'," ").gsub!(/:00(\.0*)?Z$/,"")
            end
        %>
        <dt><nobr><%= h index_field_labels[solr_fname] || solr_fname %></nobr></dt>
        <dd><%= h nice_display_value %></dd>
    <% end -%>
  <% end -%>

</dl>
 <div style="clear:both"></div>
</div>
